<div class="list-group text-center nav">
  <a href="/list" class="list-group-item" data-name='list'> 网站列表</a>
  <a href="/transmission" class="list-group-item" data-name='transmission'>表格传输</a>
</div>