<%- include('components/header') %>
<div class="container content">
	<div class="row">
		<div class="col-xs-2">
			<%- include('components/left') %>
		</div>
		<div class="col-xs-6 col-xs-offset-1">
			<h3>测试系统欢迎您!!!</h3>
		</div>
	</div>
</div>
<%- include("components/footer") %>
