<%- include('components/header') %>
<form role="form" id="formupload">
	<div class="form-group">
		<label for="exampleInputFile">File input</label>
		<input type="file" name="upfiles">
		<p class="help-block">Example block-level help text here.</p>
	</div>
	<button id="submit" type="button" class="btn btn-default">Submit</button>
</form>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function() {
		var socket = io();
		$('#submit').click(function() {
			var fd = new FormData($('#formupload')[0]);
			$.ajax({
				type: "post",
				url: "/test",
				// 告诉jQuery不要去处理发送的数据
				processData: false,
				// 告诉jQuery不要去设置Content-Type请求头
				contentType: false,
				data: fd,
				async: true,
				success: function(data) {
					console.log(data);
				}
			});
			var time = setInterval(function() {

			}, 1000);
			socket.on("upfiles",function(msg){
				console.log(msg);
			});
//			getProgress();
		});

//		function getProgress() {
//			$.ajax({
//				type: "post",
//				url: "/test/doneprogress",
//				async: true,
//				success: function(data) {
//					if(data < 100) {
//						setTimeout(getProgress, 1000);
//					}
//					console.log(data);
//				}
//			});
//		}
	});
</script>
<%- include("components/footer") %>