<td valign="top" style="<%=data.style%>">
	<a href="<%=data.href%>" target="_blank">
		<img src="images/<%=data.src%>.jpg" width="320" height="140" border="0" style="border:none; display:block;" /></a>
</td>
